h1{color:lightslategrey}
h2{color:blue}
h3{color:navajowhite}
h4{color:lightgreen}
Fondo-dia{background-image:   url("/static/img/dia.jpeg");}
Fondo-tarde{background-image: url("/static/img/tarde.png");}
Fondo-noche{background-image: url("/static/img/noche.png");}